.slider-container {
  max-width: 400px;
  height: 650px;
  margin: auto;
}

.slide {
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: 7.14%;
  max-width: 350px;
  margin: auto;
  text-align: center;
  display: none;
  overflow: hidden
}

.slide img {
  width: 350px;
  height: auto;
}

.slide-image {
  height: 500px;
  overflow: hidden;
}

.slide a {
  text-decoration: none;
  text-align: center;
}

.slider-container {
    position: relative;
}

h3 {
    color: black;
}
