.first-section-content h1{
    color: #e2e8f0;
    font-size: 46px;
    margin: 0;
    padding: 0;
}

.first-section-content p, .first-section-content button {
    color: #e2e8f0;
    font-size: 22px;
    margin-bottom: 35px;
}

.first-section-content h2 {
    color: #e2e8f0;
    margin: 0;
    padding: 0;
}

.first-section-content button, .about-section button {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 15px;
    border: 2px solid #e2e8f0;
    border-radius: 30px;
}

.first-section-content button span {
    margin-left: 15px;
}

.first-section-content button:hover {
    border-color: #4cff7c;
    color: #4cff7c;
    cursor: pointer;
}

.about-section {
    color: #e2e8f0;
}

.skillset .header .heading {
    font-weight: bold;
    font-size: 22px;
} 

.section-header h2 {
    font-size: 36px;
}

.about-section .my-name {
    font-size: 28px;
}

.about-section button {
    color: #e2e8f0;
    font-size: 18px;
    margin-bottom: 35px;
    padding: 10px;
}

.about-section button .material-icons {
    margin-right: 15px;
}

.about-section button:hover {
    color: #4cff7c;
    border-color: #4cff7c;
    cursor: pointer;
}

.contact-section form {
    width: 80%;
    margin: 0 auto;
}

