.first-section-content h1{
    color: #e2e8f0;
    font-size: 46px;
}

.first-section-content p, .first-section-content button {
    color: #e2e8f0;
    font-size: 22px;
    margin-bottom: 35px;
}

.first-section-content button {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 15px;
    border: 1px solid #e2e8f0;
    border-radius: 30px;
}

.first-section-content button span {
    margin-left: 15px;
}

.first-section-content button:hover {
    border-color: #4cff7c;
    color: #4cff7c;
    cursor: pointer;
}