@media (max-width: 768px) {
    .first-section-content h1{
        font-size: 26px;
    }

    .first-section-content h2{
        font-size: 20px;
    }
    
    .first-section-content p, .first-section-content button {
        font-size: 16px;
    }

    .first-section-content {
        top: 18vh;
        margin: 20px;
        width: 90%;
    }
  }