html {
    scroll-behavior: smooth; /* Enable smooth scrolling for the whole document */
}
body {
    margin: 0;
    padding: 0;
    background-color: #0f172a;
}

.mobile-nav, .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 20px
}
.mobile-nav {
    display: none;
}

.desktop-nav {
    margin: 0 50px;
}

.desktop-nav button {
    background-color: #0f172a;
    border: none;
    color: #e2e8f0;
    font-size: 16px;
    margin: 10px;

    &:hover {
        color: #4cff7c;
        cursor: pointer;
    }
}

#contactBtn {
    color: #4cf6ff;
    border: 2px solid #4cf6ff;
    border-radius: 15px;
    padding: 8px;

    &:hover {
        color: #4cff7c;
        border-color: #4cff7c;
        cursor: pointer;
    }
}

.logo {
    color: #4cff7c;
    font-family: 'Sofia';
    font-size: 20px;
}

.logo span {
    color: #4cf6ff;
}

.top, .bottom {
    display: flex;
    justify-content: space-between;
    width: 22px;
}

.top {
    margin-bottom: 2px;
}

.top-left, .top-right, .bottom-left, .bottom-right {
    width:8px;
    height: 8px;
    border-radius: 3px;
    border: 1px solid #4cff7c;
}

.top-left {
    border-top-left-radius: 0px;
}

.top-right {
    border-top-right-radius: 0px;
}

.bottom-left {
    border-bottom-left-radius: 0px;
}

.bottom-right {
    border-bottom-right-radius: 0px;
}

main {
    overflow-x: hidden;
}

.first-section-background {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.first-section-background div {
    display: flex;
}

.first-section-background-child {
    height: 10px;
    background-color: #4cf6ff;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.first-section-background-shade {
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0f172a;
    opacity: 0.9;
}


.first-section-content {
    position: absolute;
    top: 23vh;
    left: 0;
    margin: 50px;
    width: 85%;
    z-index: 2;
}

.social-links {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.social-links .icon {
    margin-right: 15px;
}

.social-links .icon:hover {
    cursor: pointer;
}

.mail-icon {
    color: #4cf6ff;
    font-size: 24px;
    margin: -6px 0 0 0;
}

.whatsapp-icon {
    width: 31px;
}

.icon-border {
    padding: 7px;
    border: 2px solid #4cf6ff;
    border-radius: 50%;
}

.icon-border:hover {
    border-color: #4cff7c;
}

.email-icon-container {
    margin-right: 15px;
}

.about-section {
    margin: 0 50px;
    padding: 25px;
}

.about-container {
    display: flex;
}

.about-container .description {
    width: 50%;
    padding-right: 10px;
}

.about-container .skillset {
    padding-left: 15px;
    border-left: 1px solid #4cf6ff;
}

.skillset .education {
    margin-left: 40px;
}

.skillset ul {
    margin-left: 20px;
}

.skillset .header {
    display: flex;
    align-items: center;
}

.skillset .header .material-icons {
    margin-right: 15px;
}

.skillset .education h3, .skillset .education h4, .skillset .education p {
    margin: 0;
    padding: 0;
}

.education {
    margin-bottom: 15px;
}


.section-header {
    text-align: center;
    color: #e2e8f0;
}

.about-section .stack {
    text-align: center;
}

.about-section .stack span {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    height: 40px;
}

.about-section .stack img {
    max-height: 40px;
    width: auto;
}

.stack .icon-background {
    background-color: #4cff7c;
}

.projects {
    color: #e2e8f0;
    margin: 50px;
}

.projects-container .project {
    display: flex;
    align-items: center;
    max-height: 350px;
    overflow: hidden;
    padding: 15px;
    border: 2px solid #4cf6ff;
    border-radius: 30px;
    box-shadow: 0 4px 6px #84f9ff;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
}

.projects-container .project .project-image {
    margin-right: 15px;
}

.projects-container .project img {
    max-width: 150px;
}

.projects-container .project:hover {
    color: #4cff7c;
    border-color: #4cff7c;
    transform: translate(10px, -10px);
    box-shadow: 0 8px 16px #60fb8a;
    cursor: pointer;
}

input, textarea {
    width: 100%;
    border-radius: 15px;
    border-width: 2px;
    color: #e2e8f0;
    background-color: #0f172a;
    margin-bottom: 15px;
    padding: 10px;
    font-family: 18;
}

textarea {
    height: 150px;
}

#formSubmition {
    border: 2px solid #4cff7c;
    border-radius: 15px;
    background-color: #0f172a;
    color: #4cff7c;
    padding: 8px;
}

#formSubmition:hover {
    color: #4cf6ff;
    border-color: #4cf6ff;
    cursor: pointer;
}

.submit-btn {
    text-align: center;
    margin-bottom: 50px;
}

.text-input:focus {
    border-color: #4cf6ff;
}

.text-input:valid {
    border-color: #4cff7c;
}

.text-input:invalid {
    border-color: #ff4c4c;
}

.contact-section .section-header h2, .projects .section-header h2 {
    margin-bottom: 2px;
}

.contact-section .section-header p, .projects .section-header p {
    margin-top: 2px;
    margin-bottom: 20px;
}

.contact-section .social-links {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.nav-popup {
    display: none;
    width: 100%;
    background-color: #0f172a;
    position: fixed;
    text-align: center;
    z-index: 999;
}

.nav-popup a {
    color: #e2e8f0;
    text-decoration: none;
}

.popup-shade {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0f172a;
    opacity: 0.8;
    z-index: 998;
}

.close-menu {
    display: none;
    color: #ff4c4c;
    font-size: 20px;;
}