/* * {
    color: #e2e8f0;
} */

body {
    margin: 0;
    padding: 0;
    background-color: #0f172a;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 20px
}

.logo {
    color: #4cff7c;
    font-family: 'Sofia';
    font-size: 20px;
}

.logo span {
    color: #4cf6ff;
}

.top, .bottom {
    display: flex;
    justify-content: space-between;
    width: 22px;
}

.top {
    margin-bottom: 2px;
}

.top-left, .top-right, .bottom-left, .bottom-right {
    width:8px;
    height: 8px;
    border-radius: 3px;
    border: 1px solid #4cff7c;
}

.top-left {
    border-top-left-radius: 0px;
}

.top-right {
    border-top-right-radius: 0px;
}

.bottom-left {
    border-bottom-left-radius: 0px;
}

.bottom-right {
    border-bottom-right-radius: 0px;
}

main {
    overflow-x: hidden;
}

.first-section-background {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.first-section-background div {
    display: flex;
}

.first-section-background-child {
    height: 10px;
    background-color: #4cf6ff;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.first-section-background-shade {
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0f172a;
    opacity: 0.9;
}


.first-section-content {
    position: absolute;
    top: 20vh;
    left: 0;
    margin: 50px;
    width: 85%;
    z-index: 2;
}

.social-links {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.social-links .icon {
    margin-right: 15px;
}

.social-links .icon:hover {
    cursor: pointer;
}

.mail-icon {
    color: #4cf6ff;
    font-size: 24px;
    margin: -6px 0 0 0;
}

.whatsapp-icon {
    width: 31px;
}

.icon-border {
    padding: 7px;
    border: 2px solid #4cf6ff;
    border-radius: 50%;
}

.icon-border:hover {
    border-color: #4cff7c;
}

.email-icon-container {
    margin-right: 15px;
}

.about-section {
    margin: 50px 50px 50px 50px;
    padding: 25px;
    /* background-color: rgb(51, 51, 51); */
    border-radius: 30px;
}

.about-container {
    display: flex;
}

.about-container .description {
    width: 50%;
    padding-right: 10px;
}

.about-container .skillset {
    padding-left: 15px;
    border-left: 1px solid #4cf6ff;
}

.skillset .education {
    margin-left: 40px;
}

.skillset ul {
    margin-left: 20px;
}

.skillset .header {
    display: flex;
    align-items: center;
}

.skillset .header .material-icons {
    margin-right: 15px;
}

.skillset .education h3, .skillset .education h4, .skillset .education p {
    margin: 0;
    padding: 0;
}

.education {
    margin-bottom: 15px;
}


.section-header {
    text-align: center;
}